.profileContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.profileContainer > img {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}

.profileContainer div {
  margin-left: 1.5rem;
  flex: 1;
}

.profileContainer div strong {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--title);
}

.profileContainer div p {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.profileContainer div img {
  margin-right: 0.5rem;
}

.signOutButton {
  background: transparent;
  border: 0;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  transition: background 0.2s;
}

.signOutButton:hover {
  background: var(--gray-line);
}

.signOutButton img {
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.5;
}
