.loginContainer {
  background: linear-gradient(180deg, var(--blue) 0%, var(--blue-dark) 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.loginContent > img {
  width: 20rem;
}

.loginBox {
  background: var(--white);
  padding: 3rem 4rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px var(--shadow-medium);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  max-width: 400px;
}

.loginBox strong {
  font-size: 2rem;
  color: var(--title);
  font-weight: 600;
}

.loginBox p {
  color: var(--text);
  text-align: center;
}

.githubButton {
  background: var(--blue);
  color: var(--white);
  border: 0;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-size: 1rem;
  transition: background 0.2s;
}

.githubButton:hover {
  background: var(--blue-dark);
}

.githubButton img {
  width: 1.5rem;
  height: 1.5rem;
}
